{% extends "dashboard_app_templates/base.html" %}


{% block page_styles %}
    <style>
        .mini_widget {
            width: 800px;
            height: 520px;
            border: none;
            margin-bottom: -400px;
            -moz-transform: scale(0.2);
            -moz-transform-origin: 0 0;
            -o-transform: scale(0.2);
            -o-transform-origin: 0 0;
            -webkit-transform: scale(0.2);
            -webkit-transform-origin: 0 0;
        }
    </style>
{% endblock %}


{% block content %}

    {% if error %}
        <p>{{ error }}</p>
    {% else %}

        <div id="widgets">
            <ul>
                <li>
                    <p>easyborrow requests by month</p>
                    <iframe id="frame001" class="mini_widget" src="http://127.0.0.1/dashboard/widget/easyborrow-requests-handled/"> </iframe>
                </li>
                <li>
                    <p>easyscan requests by month</p>
                    <iframe id="frame002" class="mini_widget" src="http://127.0.0.1/dashboard/widget/easyscan-requests/"> </iframe>
                </li>
            </ul>
        </div>

    {% endif %}  {% comment "end of `if error` at top" %}{% endcomment %}

{% endblock %}
