{% load humanize %}

<html>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



<div id="widget_detail">

	<div id="chart_div"></div>

    <hr/>

	<div id="chart_info">
		<ul>
			<li>Data contact: <a href="mailto:{{ widget.data_contact_email_address }}">{{ widget.data_contact_name }}</a></li>
			{% if widget.more_info_url %}
			<li>More info: <a href="{{ widget.more_info_url }}">{{ widget.more_info_url }}</a></li>
			{% endif %}
			<li>Widget data: <a href="{{ host }}feeds/widget_data/{{ widget.slug }}/">{{ host }}feeds/widget_data/{{ widget.slug }}/</a></li>
			<li>Widget url: <a href="{{ host }}widget/{{ widget.slug }}/">{{ host }}widget/{{ widget.slug }}/</a></li>
		</ul>
	</div>

</div> <!-- end div id="widget_detail" -->



<script type="text/javascript">

    google.charts.load('current', {'packages':['line', 'corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var button = document.getElementById('change-chart');
        var chartDiv = document.getElementById('chart_div');

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Month');
        data.addColumn('number', "easyBorrow requests");
        data.addRows([
            [new Date(2014, 9), 3974],
            [new Date(2014, 10), 2923],
            [new Date(2014, 11), 3138],
            [new Date(2014, 12), 1660],
            [new Date(2015, 1), 3631],
            [new Date(2015, 2), 3054]
        ]);

        var options = {
            title: 'monthly count of easyBorrow requests \n(disposed of either through a josiah-redirect, or borrowdirect, or illiad)',
            width: 1000,
            height: 500,
            lineWidth: 5,
            trendlines: {
              0: {
                type: 'linear',
                color: 'grey',
                lineWidth: 5,
                // pointSize: 5,
                opacity: 0.3,
                // showR2: true,
                visibleInLegend: true,
                labelInLegend: 'trend',
                pointsVisible: false,
                },
            },
            curveType: 'function',
            legend: {
                position: 'bottom',  // 'none'
            },
            pointSize: 5,
            // chartArea:{
            //     left: 200,
            //     top: 200,
            //     width:'50%',
            //     height:'75%'
            // },
            // hAxis: {
            //   title: 'foo'
            // },
            vAxis: {
              // title: 'bar',
              maxValue: 4172,  // 5% over max count
            },
            // colors: ['red'], // line-color
            // backgroundColor: '',
        };

        function drawChart() {
            var chart = new google.visualization.LineChart( chartDiv );
            chart.draw( data, options );
        }

        drawChart();

    } // end function drawChart()

</script>



</html>
