{% extends "dashboard_app_templates/base.html" %}


{% block extra_css %}
    <style>
        div#widgets {
            margin-top: 2em;
        }
        .mini_widget {
            width: 800px;
            height: 520px;
            border: none;
            margin-bottom: -400px;
            -moz-transform: scale(0.2);
            -moz-transform-origin: 0 0;
            -o-transform: scale(0.2);
            -o-transform-origin: 0 0;
            -webkit-transform: scale(0.2);
            -webkit-transform-origin: 0 0;
        }
    </style>
{% endblock %}


{% block content %}

<h1>dashboard &mdash; overview</h1>

<hr/>

<h3>(click chart for more info) <span id=#badge_note></span></h3>

    {% if error %}
        <p>{{ error }}</p>
    {% else %}

        <div id="widgets">
            <ul>
                <li>
                    <p>easyborrow requests by month</p>
                    <iframe id="frame001" class="mini_widget" src="http://127.0.0.1/dashboard/widget/easyborrow-requests-handled/"> </iframe>
                </li>
                <li>
                    <p>easyscan requests by month</p>
                    <iframe id="frame002" class="mini_widget" src="http://127.0.0.1/dashboard/widget/easyscan-requests/"> </iframe>
                </li>
            </ul>
        </div>

    {% endif %}  {% comment "end of `if error` at top" %}{% endcomment %}

{% endblock %}
